<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Login Page </title>

    <link rel="stylesheet"
          href="http://use.typekit.net/c/9711fe/1w;proxima-nova,2,Vmx:F:n3,W0X:F:n6,Vn5:F:n8;trajan-pro-3,2,XdZ:F:n4/d?3bb2a6e53c9684ffdc9a9aff195b2a62452a13f44e7d614e1442605a5f19f45677095979ec9ef3b8164d001df672b9cc2655e59fd21a36582cab54bb0100d088365d51e024105952cf661c2777c07cc0be85d52d6e15c2f3825814b492">
    <link href='https://fonts.googleapis.com/css?family=Ubuntu+Mono' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="http://fortawesome.github.io/Font-Awesome/assets/font-awesome/css/font-awesome.css"
          type="text/css"/>
    <link rel="stylesheet" href="css/style.css" type="text/css">

    <script src="https://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
            integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
            crossorigin="anonymous"></script>


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="js/html5shiv.min.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->

    <style>
        body {
            padding-top: 60px;
        }
    </style>
</head>

<body>

<div class="container">
    {% block content %}
    {% endblock %}
</div>

</body>
</html>
